body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1,
h2 {
  color: #444;
}

p {
  color: gray;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;
}

p {
  line-height: 1.75;
}

.main-content {
  width: 100%;
}

.sidebar {
  width: 100%;
}

/*navigation bar*/

.desktop {
  display: flex;
  width: 100%;
}

.mobile {
  display: flex;
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
  z-index: 5;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  margin: 0 1.5rem;
}

header li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

header img {
  width: 125%;
  height: 125%;
}

header .desktop img {
  height: 4rem;
  width: auto;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

header .desktop {
  display: none;
}

header .desktop .logo {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: gray;
}

header .desktop ul {
  justify-content: flex-end;
}

header .desktop li {
  font-size: 1.25rem;
  padding-left: 1rem;
  white-space: nowrap;
}

header #colmar {
  color: black;
  font-weight: bold;
}

/*banner section*/

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #d4d4d4;
  margin-top: 4rem;
}

.banner .main-content img {
  width: 100%;
}

.banner .sidebar .button {
  color: white;
  text-align: center;
  font-size: 1rem;
  background-color: #444;
  padding: 0.5rem;
  margin-top: 1.5rem;
  max-width: 20rem;
}

.banner .main-content .text-container {
  padding: 2rem 1rem;
}

/*information and thesis: mobile version*/

/*sidebars*/

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar .text-container {
  padding: 1rem 1rem 2rem 1rem;
}

.sidebar img {
  width: 100%;
}

.sidebar a {
  color: blue;
  text-decoration: none;
}

/*information section*/

.information {
  display: flex;
  width: 100%;
}

.information .main-content {
  display: none;
}

.information h1 {
  margin-bottom: 1.5rem;
}

.information .sidebar .image-container img:last-child {
  display: none;
}

/*thesis section*/

.thesis {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.thesis .exhibits {
  display: flex;
  flex-direction:row;
}

.thesis .exhibits .main-content .text-container {
  display: none;
}

.thesis h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.thesis .sidebar {
  display: none;
}

/*courses section*/

.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: white;
}

.majors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: -1rem;
  width: calc(100% - 2rem);
}

.course {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.course .text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #d4d4d4;
  margin-bottom: 0.5rem;
}

.course img {
  display: none;
}

.course p {
  display: none;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
}

footer .footer-text {
  padding: 1rem;
}

footer .terms {
  display: none;
}

@media only screen and (min-width: 451px) {

  /*desktop font changes*/

    h1 {
      font-weight: 800;
    }

    h2 {
      font-weight: 700;
    }

    .main-content {
      width: 60%;
    }

    .sidebar {
      width: 40%;
    }

  /*desktop header*/

    header .mobile {
      display: none;
    }

    header .desktop {
      display: flex;
      align-items: center;
      width: 100%;
    }

  /*desktop banner*/

  .banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1.5rem;
  }

/*  .banner .image-container {
    width: 60%;
  }*/

  .banner .text-container {
    margin: 2rem;
    padding: 0;
/*    width: 40%;*/
  }

  /*desktop information and thesis*/

  .main-content h1 {
    padding-top: 2rem;
  }

  .sidebar-item {
    flex-direction: row;
    align-items: center;
  }

  .sidebar .image-container {
    width: 35%;
    height: auto;
  }

  #gray {
    background-color: #d4d4d4;
  }

  .information {
    padding: 2rem 1.5rem;
  }

  .information .main-content {
    display: flex;
    flex-direction: column;
  }

  .information img {
    width: 100%;
  }

  .information .sidebar {
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 40%;
  }

  .information .sidebar-item {
    padding: 1rem 2rem;
  }

  .information .sidebar .image-container {
    width: 35%;
  }

  .information .sidebar .image-container img:first-child {
    display: none;
  }

  .information .sidebar .image-container img:last-child {
    display: flex;
  }

  .information .sidebar .text-container {
    width: 65%;
  }

  .thesis .main-content {
    padding: 0 1.5rem;
  }

  h1 .thesis {
    margin-bottom: 1rem;
  }

  .thesis .exhibits .main-content .text-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    }

  .thesis .sidebar {
    display: flex;
    flex-direction: column;
  }

  /*courses: desktop version*/

  .learning {
    background-color: #d4d4d4;
    flex-wrap: nowrap;
  }

  .learning h1 {
    margin-bottom: 1rem;
  }

  .majors {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 3.5rem;
  }

  .course {
    margin: 1rem;
    width: 30%
  }

  .course img {
    display: block;
    width: 100%;
    height: auto;
  }

  .course p {
    display: block;
  }

  .course .text-container {
    background-color: white;
    margin-bottom: 0;
  }

  /*desktop footer*/

  footer {
    margin-top: 0.5rem;
  }

  footer .terms {
    display: inline-block;
  }
}
